<div class="grid grid-cols-1 md:grid-cols-3">
  <div
    class="max-w-sm my-12 bg-white border border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700"
  >
    <a href="">
      <img class="rounded-t-lg" src="../../../assets/test,.jpg" alt="" />

      <div class="p-5">
        <h5
          class="mb-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          Ürün ismi
        </h5>
        <hr />
        <p class="mb-3 mt-2 font-normal text-gray-700 dark:text-gray-400">
          Burası ürün acıklama ve bilgi verme bölümüdür
        </p>
        <p
          class="text-black dark:text-white text-right"
          style="font-size: large"
        >
          250 TL
        </p>
      </div></a
    >
  </div>
</div>
