<div
  style="background-color: #1f2937"
  class="grid justify-between grid-flow-row md:grid-flow-col py-4 px-6 text-white"
>
  <div class="text-xl items-center flex">
    <button
      class="p-2 hover:bg-gray-400 hover:rounded-md text-gray-400 hover:text-white"
      (click)="checkFunc()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
    <p class="text-xl pl-2 font-black" style="margin: 0">E Ticaret</p>
  </div>
  <div class="grid grid-flow-row md:grid-flow-col">
    <button
      class="p-2 hover:bg-gray-400 hover:rounded-md text-gray-400 hover:text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
        />
      </svg>
    </button>
  </div>
</div>
<hr />
