<div
  style="background-color: #1f2937"
  class="grid justify-between grid-flow-row md:grid-flow-col py-4 px-6 text-white"
>
  <div class="text-xl items-center flex">
    <button
      class="p-2 hover:bg-gray-400 hover:rounded-md text-gray-400 hover:text-white"
      (click)="checkFunc()"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
        />
      </svg>
    </button>
    <p class="text-xl pl-2 font-black">E Ticaret</p>
  </div>
  <div class="grid grid-flow-row md:grid-flow-col">
    <button
      class="p-2 hover:bg-gray-400 hover:rounded-md text-gray-400 hover:text-white"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062A1.125 1.125 0 013 16.81V8.688zM12.75 8.688c0-.864.933-1.405 1.683-.977l7.108 4.062a1.125 1.125 0 010 1.953l-7.108 4.062a1.125 1.125 0 01-1.683-.977V8.688z"
        />
      </svg>
    </button>
  </div>
</div>
<hr />
