<div
  class="grid justify-between grid-flow-row md:grid-flow-col p-4 m-4 rounded-2xl dark:bg-gray-900 text-white"
>
  <div class="items-center flex">
    <p class="text-xl font-black">E Ticaret</p>
  </div>
  <div class="grid grid-flow-row md:grid-flow-col">
    <button
      [routerLink]="['/content/urunler']"
      class="text-white bg-gradient-to-r from-blue-500 via-blue-300 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center mr-2 mb-2 transform active:scale-75 transition-transform"
    >
      <p class="text-lg font-sans">Ana sayfa</p>
    </button>
    <button
      class="text-white bg-gradient-to-r from-blue-500 via-blue-300 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-4 py-2 text-center mr-2 mb-2 transform active:scale-75 transition-transform"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9"
        />
      </svg>
    </button>
  </div>
</div>
