<div
  class="grid grid-cols-1 lg:grid-cols-2 xl:grid-flow-col h-screen items-center"
>
  <div class="grid px-10">
    <img class="h-auto rounded-lg" src="../../../../assets/test,.jpg" alt="" />
  </div>
  <div class="grid px-10 text-white">
    <h2 class="text-sm title-font text-gray-500 tracking-widest mb-1">
      BRAND NAME
    </h2>
    <h1 class="text-3xl title-font font-medium mb-4">The Catcher in the Rye</h1>
    <p class="leading-relaxed mb-8">
      Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha
      taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw
      denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub
      blue bottle austin listicle pour-over, neutra jean shorts keytar banjo
      tattooed umami cardigan.
      Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha
      taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw
      denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub
      blue bottle austin listicle pour-over, neutra jean shorts keytar banjo
      tattooed umami cardigan.
      Fam locavore kickstarter distillery. Mixtape chillwave tumeric sriracha
      taximy chia microdosing tilde DIY. XOXO fam indxgo juiceramps cornhole raw
      denim forage brooklyn. Everyday carry +1 seitan poutine tumeric. Gastropub
      blue bottle austin listicle pour-over, neutra jean shorts keytar banjo
      tattooed umami cardigan.
      
    </p>

    <hr class="mb-4" />
    <div class="grid grid-cols-2">
      <span class="title-font font-medium text-4xl">$58.00</span>
      <button
        class="text-white bg-blue-600 border-0 focus:outline-none hover:bg-blue-700 rounded"
      >
        Sepete ekle
      </button>
    </div>
  </div>
</div>
